:host {
  width: 100%;
}

.carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.125);

  .quote {
    width: 70%;
    font-size: 2rem;
    text-align: center;
  }

  .author {
    font-size: 1rem;
    text-align: right;
    width: 70%;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: unset;
    background: unset;
    color: white;
    font-size: 3.125rem;
    cursor: pointer;

    &:hover {
      color: rgb(239, 239, 239);
    }

    &:disabled {
      color: rgba(181, 181, 181, 0.86);
      cursor: default;
    }

    &.left {
      left: 1.25rem;
    }

    &.right {
      right: 1.25rem;
    }
  }
}

.media {
  display: flex;
  justify-content: left;
  width: 80%;

  &-btn {
    border: unset;
    background: unset;
    cursor: pointer;
    background: rgb(73 155 255);
    border-radius: 1.25rem;
    width: 1.875rem;
    height: 1.875rem;

    img {
      width: 1rem;
    }
  }
}
